name: Deploy to Production

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0 # Statically linked

    steps:
      - name: Setting GIT
        run: git config --global url."https://${{ secrets.GLOBAL_TOKEN }}:x-oauth-basic@github.com/aziontech".insteadOf "https://github.com/aziontech"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

     - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17'
          check-latest: true

      - name: Bump version and push tag
        id: tag_ver
        uses: anothrNick/github-tag-action@1.37.0
        env:
          RELEASE_BRANCHES: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Refresh git
        run: git fetch --tags

      - name: Build
        run: make build ENVFILE=./env/prod

      - name: Cross-build
        run: make cross-build ENVFILE=./env/prod

      - name: Install AWS CLI
        run: |
          apt update
          apt install -y awscli

      - name: Configure AWS Credentials (azion-downloads)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.S3_DOWNLOADS_ID }}
          aws-secret-access-key: ${{ secrets.S3_DOWNLOADS_SECRET }}
          aws-region: us-east-1

      - name: Upload to azion-downloads production dir
        run: |
          while read spec; \
          do\
            distro=$(echo ${spec} | cut -d/ -f1);\
            goarch=$(echo ${spec} | cut -d/ -f2);\
            arch=$(echo ${goarch} | sed 's/386/x86_32/g; s/amd64/x86_64/g; s/arm$/arm32/g;');\
            cp dist/$distro/$arch/azioncli* dist/$distro/$arch/azioncli; 
            aws s3 cp --no-progress --recursive \
              --exclude "*" --include "azioncli*" \
              dist/$distro/$arch/ s3://azion-downloads/$distro/$arch/; \
          done < BUILD
