name: Package Auditing

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  PackageAuditing:
    permissions:
      contents: write
      pull-requests: write
    name: Package Auditor (GoVulnCheck)
    runs-on: ubuntu-latest
    container:
      image: golang:1.25.3
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: bypass dep
        run: go env -w GOPRIVATE=github.com/zRedShift/mimemagic

      - name: GoVulnCheck
        run: make govulncheck
