name: SCC Complexity Check

on:
  pull_request:
    branches: [main]

jobs:
  scc-check:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: aziontech/scc_check@main
