name: Test and Build

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: golang:1.22.5

    steps:
      - name: Setting GIT
        run: git config --global url."https://${{ secrets.GLOBAL_TOKEN }}:x-oauth-basic@github.com/aziontech".insteadOf "https://github.com/aziontech"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setting up a secure repository
        run: git config --global --add safe.directory /__w/azion/azion

      - name: Build & Test
        run: |
          echo "Building and testing"
          make test build

      - name: Linter
        run: |
          echo "Static checking the code"
          make lint

      - name: Gosec
        run: |
          echo "Checking Security"
          make sec

      - name: Go Report
        uses: creekorful/goreportcard-action@v1.0
