name: Test and Build

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
    branches-ignore:
      - main 

jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-unit-tests') }}
    runs-on: ubuntu-latest
    container:
      image: golang:1.25.0

    steps:
      - name: Setting GIT
        run: git config --global url."https://${{ secrets.GLOBAL_TOKEN }}:x-oauth-basic@github.com/aziontech".insteadOf "https://github.com/aziontech"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setting up a secure repository
        run: git config --global --add safe.directory /__w/azion/azion

      - uses: goreleaser/goreleaser-action@v6
        name: run goreleaser check
        with:
          distribution: goreleaser
          version: 2.3.2
          args: check
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}

      - name: Build & Test (skip v3 tests)
        run: |
          echo "Building and testing (skipping v3 tests)"
          mkdir -p cover
          PKGS=$(go list ./... | grep -v "/pkg/v3commands/")
          echo "Testing packages:" $PKGS
          go test -v -failfast -coverprofile ./cover/azioncoverage.out -coverpkg=$(echo "$PKGS" | tr '\n' ',') $PKGS
          go tool cover -html=./cover/azioncoverage.out -o ./cover/azioncoverage.html
          go tool cover -func ./cover/azioncoverage.out
          make build

      - name: Gosec
        run: |
          echo "Checking Security"
          make sec

      - name: Go Report
        uses: creekorful/goreportcard-action@v1.0
